
body{
background-color: #000522;
}
.btn{ 
    all: unset;
    background: linear-gradient( to bottom, #1935D8 , #0D1C72);
    border-radius: 30px;
    color: white;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    

}
h2 , h3 , p {
    color: #ffffff;
}
.container{
    
    width: 100vw;
    height: 100%;
}
.header{
    padding: 30px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60vw;
    padding: 10px;
    height: 40px;
    background-color: rgba(34, 39, 64, 1);
    border-radius: 100px;
}

.nav-button{
    height: 40px;
    margin: 0.5 rem;
    color: white;
    font-size: 18px;
    background-color:  rgba(34, 39, 64, 0) ;
    border: none;
    cursor: pointer;
}

.nav-button ::selection{
    border-radius: 100px;
    background-color:  rgba(34, 39, 64, 0);

}
.logo-image{
    width: 15vw;
    height: 46px;
}

.login-button{
    
    width: 10vw;
    height: 40px;
    font-family: 'Inter';
    background: rgba(0, 18, 132, 1);
    margin-left: 29px;
    font-size: 18px;
}

.learning{
    position: relative;
    left: auto;
}

.layer{
 /* background: linear-gradient(180deg, #000000 20.17%, #785F03 100%); */
 
 position: absolute;
 z-index: 3;
}

.right-layer{
    
box-sizing: border-box;
width: 25vw;
height: 25rem;

}

.child-image{
    width: 30vw;
    height: 17rem;
    border-radius: 75px;
    margin-top:  4rem;
    /* position: absolute; */
}

.triangle{
    /* width: 10rem;
    height: 12rem; */
    top: 8rem;
}

.title{
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 0;
}
    

.des{
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: 3%;
    color: rgba(255, 255, 255, 0.7);
    margin-left: 2.5rem;
}


.intro{
    font-family: 'Poppins' , sans-serif;
    font-style: normal;
}



.home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 5rem;
    padding-right: 3rem;
}

.signup-button{
    font-size: 1.3rem;
    width: 20vw;
    height: 2.5rem;
    border-radius: 8px;
    margin-left: 3.5rem;
    
}
.first-layer{
    width: 0;
    height: 0;
    border-top: 9rem solid transparent;
	border-left: 9rem solid #785F03;
	border-bottom: 9rem solid transparent;
    /* border: 2px solid #FFC800; */
    box-shadow: #000522;
}

.partner{
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg , rgba(0, 5, 34, 1) , rgba(0, 0, 0, 1) , rgba(0, 20, 136, 1));
}
.partner-logo{
    width:8rem;
}
.partners{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px 0;
}